//- index.jade
doctype html
head
  title История любви. Реальные истории любви из жизни.

  meta(name="keywords" content="истории о любви, отношения, истории любови, истории об измене, сексуальные фантазии, истории на работе, истории про деньги и любовь.")
  meta(name="description" content="Читать истории любви. Настоящие истории любви из жизни реальных людей.")
  meta(name="yandex-verification" content="6204f7463fd80fb0")

  link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/readable/bootstrap.min.css", rel="stylesheet")
  link(href="/css/main.css", rel="stylesheet")

  if data.prevLink
    link(href=data.prevLink, rel="prev")
  else
    link(href="/", rel="canonical")

  if data.nextLink
    link(href=data.nextLink, rel="next")

body
  include ./../../client/yandex.html
  include ./../../client/mail-counter.html
  include ./../../client/rambler-counter.html

  div(class="col-lg-2 col-md-1 hidden-sm hidden-xs")
  div(class="col-lg-8 col-md-10 col-sm-12 col-xs-12")

    include ./navbar.jade

    div(id="content-container")!= data.html

script!= "var INITIAL_STATE = " + data.init + ";"

include ./scripts.jade

script(src="/js/bundle.js" async="async")

//- Go to www.addthis.com/dashboard to customize your tools
script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-555b2dde6ad4460d" async="async")
