//- index.jade
doctype html
//cce5922aa3c004832e0b233ddca9cdff
head
  title Истории о жизни, любви и сексе

  meta(name="keywords" content="истории о любви, истории о сексе, отношения, любовь, измена, сексуальные фантазии")
  meta(name="description" content="Сайт для откровенных историй о жизни, любви и сексе.")
  meta(name="yandex-verification" content="6204f7463fd80fb0")

  link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/readable/bootstrap.min.css", rel="stylesheet")
  link(href="/css/main.css", rel="stylesheet")
  link(href="/yandex.html", rel="import")

  if data.prevLink
    link(href=data.prevLink, rel="prev")
  else
    link(href="/", rel="canonical")

  if data.nextLink
    link(href=data.nextLink, rel="next")

body
  div(class="col-lg-2 col-md-1 hidden-sm hidden-xs")
  div(class="col-lg-8 col-md-10 col-sm-12 col-xs-12")

    include ./navbar.jade

    //-div(id="main-picture" class="col-lg-3 col-md-3 col-sm-3 hidden-xs")
    //-  img(src="/i/lstori_1.png")

    //-div(id="main-header" class="col-lg-9 col-md-9 col-sm-9 hidden-xs")
    //-  h1 Истории с чувством!

    div(id="content-container")!= data.html

  //-- Rating@Mail.ru counter --
  script(type="text/javascript")
    | var _tmr = _tmr || [];
    | _tmr.push({id: "2638302", type: "pageView", start: (new Date()).getTime()});
    | (function (d, w) {
    |  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
    |  ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
    |  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
    |  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    | })(document, window);
  noscript
    div(style="position:absolute;left:-10000px;")
      img(src="//top-fwz1.mail.ru/counter?id=2638302;js=na", style="border:0;", height="1", width="1", alt="Рейтинг@Mail.ru")
  //-- //Rating@Mail.ru counter --


  script!= "var INITIAL_STATE = " + data.init + ";"
include ./scripts.jade

script(src="/js/mainComponents.js")
