head
  link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/readable/bootstrap.min.css", rel="stylesheet")
  link(href="/css/main.css", rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")

body
  div(class="col-lg-2 col-md-1 hidden-sm hidden-xs")
  div(class="col-lg-8 col-md-10 col-sm-12 col-xs-12")

    div(class="navbar navbar-static-top navbar-default")

      div(class="container")

        div(class="navbar-header")
          a(class="navbar-brand" href="#")='Brand'

        ul(class="nav navbar-nav")
          li
            a(href="#")='Главная'
          li
            a(href="#")='О нас'
          li
            a(href="#")='Рассказать историю'

    div(id="content-container")

  div(class="col-lg-2 col-md-1 hidden-sm hidden-xs")

  script(src="/js/components.js", type="text/jsx")
