//- index.jade
doctype html
head
  link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/readable/bootstrap.min.css", rel="stylesheet")
  link(href="/css/main.css", rel="stylesheet")
  link(href="/css/moderation.css", rel="stylesheet")
body
  div(class="col-lg-2 col-md-1 hidden-sm hidden-xs")
  div(class="col-lg-8 col-md-10 col-sm-12 col-xs-12")

    include ./navbar.jade

    div(id="content-container")

include ./scripts.jade

script(src="/js/moderationComponents.js")
