scripts
  script(src="/js/polifil.js")
  script(src="/config/index.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js")
  script(src="./bower_components/react-bootstrap/react-bootstrap.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
